@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Universidad Tecnológica de Hermosillo<br />
    Donde da vuelta el aire #1 Col. Perdición<br />
    <abbr title="Phone">Teléfono: </abbr>
    666 666 666
</address>

<address>
    <strong>Desarrollo: </strong> <a href="eliottsalazar@gmail.com">Desarrollo y sopórte técnico</a><br />
    <strong>Drogas: </strong> <a href="tic17311012@uthermosillo.edu.mx">Eliott Ivan Salazar Quijada</a>
</address>